.place__title {
  margin: 0;
  max-width: 460px;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px; /* 105.556% */
  grid-area: title;
}
@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 980px) {
  .place__title {
    max-width: 400px;
  }
}

@media screen and (max-width: 920px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px; /* 109.524% */
    align-self: center;
  }
}

@media screen and (max-width: 750px) {
  .place__title {
    max-width: 250px;
  }
}

@media screen and (max-width: 605px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px; /* 109.524% */
  }
}

@media screen and (max-width: 380px) {
  .place__title {
    padding-left: 16px;
  }
}
