.place__image {
  grid-area: image;
  width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 980px) {
  .place__image {
    width: 400px;
  }
}

@media screen and (max-width: 920px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 750px) {
  .place__image {
    width: 280px;
  }
}

@media screen and (max-width: 605px) {
  .place__image {
    width: 320px;
  }
}
