.header__logo {
  display: block;
  width: 176px;
  height: 52px;
  justify-self: start;
  background: url(../../../images/logo.svg) no-repeat;
  background-size: contain;
  background-position: top left;
}

@media screen and (max-width: 620px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
