.header__logo {
  width: 176px;
  height: 52px;
  flex-basis: 94%;
  justify-self: start;
  background: url(../../../images/logo.svg) no-repeat;
  background-position: top left;
}

@media screen and (max-width: 620px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: contain;
    flex-basis: 60%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    flex-basis: 94%;
  }
}
