.lead__title {
  margin: 0 auto;
  max-width: 720px;
  color: #fff;
  text-align: center;
  ffont-family: "Inter", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px; /* 104.167% */
}

@media screen and (max-width: 760px) {
  .lead__title {
    font-size: 60px;
    max-width: 500px;
    line-height: 66px; /* 110% */
  }
}
@media screen and (max-width: 500px) {
  .lead__title {
    font-size: 50px;
    line-height: 55px; /* 110% */
  }
}

@media screen and (max-width: 420px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px; /* 110% */
  }
}
