.lead__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% * (615 / 984));
}

@media screen and (max-width: 1024px) {
  .lead__image {
    width: calc(
      (min(1024px, 100vw)) - ((max(100vw, 768px) - 768px) * (96 / 256))
    );
    height: calc(
      ((min(1024px, 100vw)) - ((max(100vw, 768px) - 768px) * (96 / 256))) *
        (580 / 928)
    );
  }
}

/*
1024px - ширина экрана при котором поля 96px
768px - ширина экрана при котором поля 0
256px - разница
коэффициент изменения размера отступов - 96/256
формула полей
(max(100vw, 768px) - 768px)*(96/256)
нужно вычесть из ширины 
*/
