.description__title {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px; /* 107.407% */
}

@media screen and (max-width: 420px) {
  .description__title {
    font-size: 32px;
    line-height: 35px;
  }
}
