.lead__subtitle {
  margin: 32px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 120% */
  max-width: calc(100% - 320px * 2);
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    max-width: calc(100vw - 192px * 2);
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: calc(100vw - 64px * 2);
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    max-width: calc(100vw - 16px * 2);
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 20px; /* 125% */
  }
}
