.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 24px;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    align-items: start;
  }
}
